{% extends 'base.html' %}

{% block content %}
    <script>
            
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("intervalo_consulta_valor").style.display = "none"
        }, false);

        function muda_display_form_consulta_cliente(src) {
            
            if(src.value == "valor"){
                document.getElementById("intervalo_consulta_valor").style.display = "block"
            }else{
                document.getElementById("intervalo_consulta_valor").style.display = "none"
            }
        }

    </script>

    <nav>
        <a href="{{ url_for('clientes_consulta') }}">Consultar Clientes</a>
        <a href="{{ url_for('clientes_cadastro') }}">Cadastrar Clientes</a>
    </nav>

    <h1>{% block title %} Clientes - Consultas {% endblock %}</h1>
    
    <form action="" method="post">
        <p>
            <input type="radio" name="seletor_query_clientes" onchange="muda_display_form_consulta_cliente(this)" value="tudo"> Tudo <br>
            <input type="radio" name="seletor_query_clientes" onchange="muda_display_form_consulta_cliente(this)" value="cpf"> Pessoas Físicas <br>
            <input type="radio" name="seletor_query_clientes" onchange="muda_display_form_consulta_cliente(this)" value="cnpj"> Pessoas Jurídicas <br>
            <input type="radio" name="seletor_query_clientes" onchange="muda_display_form_consulta_cliente(this)" value="valor"> Clientes por Valor Gasto em Orçamentos <br>
            <input type="radio" name="seletor_query_clientes" onchange="muda_display_form_consulta_cliente(this)" value="cliente_mais_caro"> Clientes com Orçamento mais Caro <br>
            <input type="radio" name="seletor_query_clientes" onchange="muda_display_form_consulta_cliente(this)" value="cliente_mais_barato"> Clientes com Orçamento mais Barato <br>
            <input type="radio" name="seletor_query_clientes" onchange="muda_display_form_consulta_cliente(this)" value="sem_orcamento"> Clientes sem Orçamentos <br>
        </p>
        <p id="intervalo_consulta_valor">
            Valor mínimo: <input type="number" name="valor_min" value="1000"> <br>
            Valor máximo: <input type="number" name="valor_max" value="3000"> <br>
        </p>
        <p><input type=submit value=Filtrar></p>
    </form> 

    <table class='cliente'>
        <tr>
            <th>Nome do Cliente</th>
            <th>Indicação</th>
            <th>Tipo de Cliente</th>
            <th>CPF</th>
            <th>CNPJ</th>
            <th>Razao Social</th>
        </tr>
        {% for cliente in clientes %}
            <tr>
                <td>{{cliente[1]}}</td>
                <td>{{cliente[2]}}</td> 
                {% if cliente[3] == 0 %}
                    <td>pessoa física</td>
                    <td>{{cliente[4]}}</td>
                    <td>N.A</td>
                    <td>N.A</td>
                {% else %}
                    <td>pessoa jurídica</td> 
                    <td>N.A</td>
                    <td>{{cliente[5]}}</td>
                    <td>{{cliente[6]}}</td>
                {% endif%} 
            </tr>
        {% endfor %}
    </table>
{% endblock %}